 # <b>1 <span style='color:#F76241'>|</span>Some good ol' fashion data munging</b>
 
<font size="9">A</font>lright!. It's time to start preparing the data for machine learning algorithms. No matter the machine learning system, there is _always_ a need to perform some kind of preprocessing. In our case, for the housing dataset,
we are going to:

- Scale the data so every number lies in the same range
- Adding missing values
- Transform the categorical columns to be numerical

First, lets retrieve the relevant code from the previous notebook

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 


df = pd.read_csv("data/housing.csv")
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [2]:
print(df_train.shape)
df_train.head()

(16512, 10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND

Next, we need to extract the **y values** from the training dataframe

In [21]:
X_train = df_train.drop(["median_house_value"],axis=1)
y_train = df_train['median_house_value']

X_test = df_test.drop(["median_house_value"],axis=1)
y_test = df_test["median_house_value"]

In [22]:
X_train.shape

(16512, 9)

In [23]:
y_train.shape

(16512,)

In [24]:
X_test.shape

(4128, 9)

In [25]:
y_test.shape

(4128,)

Now we need to deal with missing values. If you recall, in the **housing** dataset, the **total_bedrooms** columns has missing values. There are several ways to approach this such as:

1. Get rid of the rows with missing values for **total_bedrooms**.
2. Get rid of the whole attribute.
3. Set the missing values to some value (zero, the mean, the median, etc.). This is called imputation.

Option 3 is the most recommended. For this showcase however, I'm going to keep things simple and just drop the records with missing values. Thankfully, it's not too many. Inspecting the **X_train** df, we see that it does not have these missing values. But **X_test** seems to have them.

In [26]:
X_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

In [27]:
X_test.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [28]:
X_test = X_test.dropna()

When it comes to text columns, there's numerous approaches as well. For this example, we're just going to exclude them. But realistically, they should be converted into numericals and used for prediction.

In [29]:
X_train = X_train.drop(columns=["ocean_proximity"])
X_test = X_test.drop(columns=["ocean_proximity"])

The last preprocessing step we'll perform is feature scaling. This is done to make sure that each numerical value is within the same range. Values of varying ranges tend to trip up machine learning algorithms. We will use sklearn's **StandardScaler** class to do this.

It's important to fit the model to the training data, and then **only** transform the test data, as shown below:

In [30]:
from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)